<!DOCTYPE html>
<meta charset="utf-8">
<title>GestViz</title>
<script src="/static/js/showscreens.js"></script>
<script src="/static/js/criteria.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
<script src="/static/lib/jquery-1.10.2.min.js"></script>
<script src="/static/lib/jquery-ui.min.js"></script>
<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/d3.tip.v0.6.3.js"></script>
<script src="/static/js/drawvis.js"></script>
<script src="/static/lib/leap-0.6.4.min.js"></script>
<script src="/static/js/drawmain.js"></script>
<script src="/static/js/leapmotion.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<head>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">
</head>

<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}
#gesture_output{
  font-size: 66px;
  color: #005d98;
  text-align: left;
  position: fixed;
  bottom: 18px;
}


</style>
<body onload="populate_criteria()">
<div id = 'outerbox'>
  <h1>Select field for clustering</h1>
  <div id="radio_home"></div>

<button onclick="show_main_screen()">Show plot</button>
<button onclick="show_filter_screen()">Filter data</button>
</div>
</body>
<script src="/static/js/criterialeap.js"></script>
