<!DOCTYPE html>
<meta charset="utf-8">
<title>GestViz</title>
<script src="/static/js/showscreens.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
<script src="/static/lib/jquery-1.10.2.min.js"></script>
<script src="/static/lib/jquery-ui.min.js"></script>
<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/d3.tip.v0.6.3.js"></script>
<script src="/static/js/drawvis.js"></script>
<script src="/static/lib/leap-0.6.4.min.js"></script>
<script src="/static/js/drawmain.js"></script>
<script src="/static/js/leapmotion.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<head>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">
</head>

<style>

body {
  
  margin: auto;
  position: relative;
  width: 1080px;
}
#gesture_output{
  font-size: 15px;
  color: #005d98;
  text-align: center;
  position: fixed;
  bottom: 18px;
}


</style>
<body onload="myFunction()">
<div id="clustertext" style="color:#005d98">
  <span style="float: left;"><h2>CLUSTER SETTINGS Swipe--></h2></span> 
  <span style="float: right;"><h2><--Swipe FILTER SETTINGS</h2></span>
</div>
<div id = 'outerbox'>
<div id="gesture_output" style = "display:none;"></div>
<div style="display: none;overflow:scroll;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel"></h4>
              </div>
              <div class="modal-body" id = "myModalBody" style="overflow: scroll;">
              </div>
              <div class="modal-footer" id = "myModalFooter"></div>
          </div>
      </div>
  </div>
<div id = "viz"></div>
<button onclick="show_filter_screen()">Filter data</button>
<button onclick="show_criteria_screen()">Select clusterting criteria</button>

<button onclick="show_schema()">Show schemalist</button>
<button onclick="show_info()">Show Info</button>
</div>
<body>
<script src="/static/js/indexleap.js"></script>  