<!DOCTYPE html>
<meta charset="utf-8">
<title>GestViz</title>
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

</style>
<div id = 'outerbox'>
Hi
<button onclick="draw_plot()">Draw scatterplot</button>
<div id = "viz"></div>
</div>

<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/d3.tip.v0.6.3.js"></script>
<script src="/static/lib/jquery-1.10.2.min.js"></script>
<script src="/static/lib/jquery-ui.min.js"></script>
<script src="/static/lib/highlight/jquery.highlight.js"></script>
<script src="/static/js/drawvis.js"></script>
