<!DOCTYPE html>
<meta charset="utf-8">
<title>GestViz-Main Page</title>
<!-- 
<script src="/static/lib/leap-0.6.4.min.js"></script>
<script src="/static/lib/jquery-1.10.2.min.js"></script>
<script src="/static/lib/jquery-ui.min.js"></script>
<script src="/static/lib/highlight/jquery.highlight.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/d3.tip.v0.6.3.js"></script>
<script src="/static/js/drawmain.js"></script>
<script src="/static/js/leapmotion.js"></script>

 -->
<script src="/static/js/showscreens.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
<script src="/static/lib/jquery-1.10.2.min.js"></script>
<script src="/static/lib/jquery-ui.min.js"></script>
<script src="/static/lib/d3.v3.min.js"></script>
<script src="/static/lib/d3.tip.v0.6.3.js"></script>
<script src="/static/js/drawvis.js"></script>
<script src="/static/lib/leap-0.6.4.min.js"></script>
<script src="/static/js/drawmain.js"></script>
<script src="/static/js/leapmotion.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<style>
.container{
  background-color: #e0f3db;
  text-align: center;
}
.nodes{
  background-color: #238443;
  text-align: center;
}
#main_title{
  font-size: 66px;
  color: #238443;
  text-align: center;
  margin-top: 30px;
}
#gesture_output{
  font-size: 50px;
  color: #238443;
  text-align: center;
  margin-top: 130px;
}
#progress {
  background: #006837;
  position:relative;
  height: 20px;
  width: 0px;
  margin: 0 auto;
}

</style>

<body>
  <div id="container" class="container">
    <div id="main_title"></div>
    <div id="gesture_output"></div>
    <div id="progress"></div>
  </div>
</body>
<script src="/static/js/mainleap.js"></script>